TRAINING_DATA_RAW_VIDEOS_DIRECTORY=training_data/raw_videos
TRAINING_DATA_PROCESSED_VIDEOS_DIRECTORY=training_data/videos
TRAINING_DATA_LABELS_DIRECTORY=training_data/labels
TRAINING_DATA_FRAMES_DIRECTORY=training_data/frames
